*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.App{
padding: 1.5rem;
width:100vw;
max-width: 100vw;
overflow-x: hidden;
min-height: 100vh;
height: 100%;
background:linear-gradient(to right , #119c92 , #1a1c68);


header{
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: yellowgreen;
    h1{
        font-family: 'Bigelow Rules', cursive;
        font-size: 5rem;
        margin: 0 auto;
    }
}
}



